extends ../layout

block scripts

block navigation
    li: a(href="/") Home
    li.active: a(href="/charts") Chart list
    li: a(href="/authors") Author list


block content
    div.offset1
        h3 Chart list
        ul
            each chart in charts
                li 
                    a(href='/charts/#{chart._id}') #{chart.title} by #{chart.author}
        a.btn.btn-primary(href="/charts/new") Create new chart  



