extends ../layout

block scripts
    script(type="text/javascript", src="/javascripts/sliceList.js")
    script(type="text/javascript", src="/javascripts/template.js")

block navigation
    li: a(href="/") Home
    li: a(href="/charts") Chart list
    li: a(href="/authors") Author list

block content
    
    div.offset1
        h3 New pie chart
        div#warning
        form.form-horizontal(id="chartForm", method="POST", action="/charts")
            input#chartInfo(type="hidden", name="chartInfo")

            div.control-group
                label.control-label(for="chartAuthor") Author
                div.controls
                    input#chartAuthor(type="text", name="chartAuthor", placeholder="author name")

            div.control-group
                label.control-label(for="chartTitle") Title
                div.controls
                    input#chartTitle(type="text", name="chartTitle", placeholder="chart title")

            div.control-group
                label.control-label(for="sliceName") Slice name
                div.controls
                    input#sliceName(type="text", name="slice-name", placeholder="slice name")

            div.control-group
                label.control-label(for="sliceValue") Slice value
                div.controls
                    input#sliceValue(type="number", name="slice-value", placeholder="slice number")

            div.control-group
                div.controls
                    button.btn.btn-primary#addSlice(type="button") Add slice

            div.control-group
                div.controls
                    button.btn.btn-success#createChart(type="button") Create chart

            div#sliceList

