extends ../layout

block scripts

block navigation
    li: a(href="/") Home
    li: a(href="/charts") Chart list
    li.active: a(href="/authors") Author list

block content
    div.offset1
        h3 All Authors

        ul
            each item in list
                li 
                    a(href='/authors/#{item}') #{item}